* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url('../img/imgPredios.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    width: auto;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: auto;
    height: 400px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255,255,255,0.5);
    
}

h1 {
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
p{
    color: #fff;
}

.div-input input {
    display: flex;
    width: 300px;
    height: 40px;
    justify-content: center;
    margin: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0);
    background: transparent; 
}

.div-submit input{


    width: 50%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: solid;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600px;
}
.div-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}
input::placeholder{
    color: #fff;
}

div h1,
p {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body {
        background-repeat: no-repeat;
    }

    main {
        width: 100%;
        display: flex;
        margin: 20px;
    }
}