@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Libre Franklin";
}

a {
    font-family: "Libre Franklin";
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-family: "Libre Franklin";
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
    width: auto;

}

ul {
    list-style: none;
    display: flex;
}

ul li {
    letter-spacing: 1px;
    margin-left: 32px;
}

h1{
    width: 100%;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 90%;
    height: auto;
    margin: 10px 0 0 0;
    border-radius: 5px;
}

.input-obj{
    width: 500px;
    height: 25px;
    margin: 10px;
}
.input-number{
    width: 50px;
    height: 25px;
    margin: 10px;
}
.input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.input-perpectiva{
    width: 100px;
    height: 25px;
    margin: 10px;
}
.btn {
    background-color: orange;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    font-size: 16px;
    font-weight: 700;
    text-decoration: #fff;
    margin: 10px;
}

label{
    font-size: 20px;
    font-weight:500;
}
.retornoSucceso{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 75px;
    background: #168821ff;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0 0 0;
}
.retornoErro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 75px;
    background: #e52207ff;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0 0 0;
}
.retornoAlerta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 75px;
    background: #ffcd07ff;
    color: #000000;
    border-radius: 5px;
    margin: 10px 0 0 0;
    padding: 5px;
}
div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 150px 0 0 0;
}
form>div{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario{ 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th, td{
    text-align: center;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
    background-color: #23232e;
    color: white;
  }

